body {
	background-color: lemonchiffon;
}
.contendor{
	vertical-align: top;

}
.subcontenedor{
	vertical-align: top;
	
}

#añade {
	width: 20%;
	background-color: #006BA9;
	padding: 13px;
	border-radius: 7px;
	color: white;
	font-size: 15px;
	cursor: pointer;
	font-family: sans-serif;
}

#añade:hover {
	background-color: #006BA9;
	opacity: 0.8;
}

#formulario {
	width: 20%;
	height: 100px;
	background-color:#e2e4e6;
	padding: 20px;
	border-radius: 8%;
	float: left;
}

#boton {
	width: 50%;
	background-color: #5DB449;
	padding: 8px;
	border-radius: 10px;
	color: white;
	font-family: sans-serif;
}

#input {
	width: 100%;
	height: 30px;;
	border-style: none;
	border-radius: 7px;
}
.aparecer{
	display: none;
}
.titulo-lista{
	width: 20%;
	background-color: #e2e4e6;
	color: dimgrey;
	cursor: pointer;
	font-family: fantasy;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	font-size: larger;
	display: table;
}
.nueva-tarjeta{
	width: 20%;
	background-color: #e2e4e6;
	color: dimgrey;
	font-size: 15px;
	display: block;
	font-family: sans-serif;
	text-align: center;
	padding: 10px 0px 20px 0px;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	float: left;
}
.desaparecer{
	display: inline-block;
	float: left;
}